.Rproj.user
inst/doc
.Rhistory
.Rdata
.httr-oauth
.DS_Store
.quarto
inst/python/constants.py
profile/psych_science_xml*
inst/modules/sample-size*
tests/testthat/pdf
/doc/
/Meta/
/tests/testthat/grobid-test/pdf/
/data-raw/psychsci/pdf/
_stuff/modules-old/sample-size*
